<header [ngClass]="{'scrolled': scrolled}">
    <div class="header">
        <div class="logo">
            <h1><a routerLink="/">eSHOPY.</a></h1>
        </div>
        <div *ngIf="menuType==='default'" class="searchBar">
            <div class="searchElements">
                <input type="text" (keyup)="searchProducts($event)" placeholder="Search..">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div [ngSwitch]="menuType" class="navMenu">
            <ul *ngSwitchCase="'default'">
                <li><a routerLink="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a routerLink="/shop"><i class="fa-solid fa-store"></i>Shop</a></li>
                <li><a routerLink="/seller-auth"><i class="fa-regular fa-user"></i>Seller</a></li>
                <li><a href="#popularProducts"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a></li>
                <li><a href=""><i class="fa-solid fa-basket-shopping"></i>Cart</a></li>
            </ul>
            <ul *ngSwitchCase="'seller'">
                <li><a routerLink="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a routerLink="/seller-add-product"><i class="fa-solid fa-plus"></i>Add Product</a></li>
                <li><a routerLink="/seller-home"><i class="fa-solid fa-list-check"></i>Product List</a></li>
                <li><a routerLink="" (click)="logOut()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out</a></li>
                <li><a href=""><i class="fa-regular fa-user"></i>{{sellerName | titlecase}}</a></li>
            </ul>
        </div>
    </div>
</header>
