header{
    height: 80px;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 1000;
}
header.scrolled {
    box-shadow: var(--shadow);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.577);
}
.header{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 100px);
    margin: 0 auto;
}
.logo h1 a{
    color: var(--clr-primary);
    font-size: 30px;
    font-weight: 600;
}
.searchBar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
    border: 1px solid var(--clr-primary);
    border-radius: 5px;  
    position: relative;
}
.searchBar ul{
    position: absolute;
    padding-top: 20px;
    width: 100%;
    top: 43px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.searchBar ul li{
    box-shadow: var(--shadow);
    background: white;
    padding: 7px;
    border-radius: 5px;
}
.searchBar img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.searchElements{
    position: relative;
}
.searchElements input[type="text"]{
    width: calc(100% - 10px);
    border: 0;
    padding: 10px 5px;
    background: transparent;
}
.searchElements button{
    position: absolute;
    right: 0;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: transparent;
    width: max-content;
}
.navMenu{
    display: flex;
    align-items: center;
}
.navMenu ul{
    display: flex;
    gap: 15px;
    margin: 0;
}
.navMenu li{
    
}
.navMenu li a{
    padding: 10px;
}

