<section id="landing">
	<div class="landing">
		<div class="landingText">
            <div class="siteTitle">
				<p>ONLINE STORE</p>
				<h1>eSHOPY.</h1>
			</div>
			<p class="desc1">
				Your go-to destination for a seamless and stylish online shopping experience. Discover, shop, and elevate your lifestyle with us.			</p>
			<p class="desc2">
				Discover a world of convenience and style at eShopy, where seamless online shopping meets unbeatable deals.
			</p>
			<a class="btn btn-light" routerLink="/shop">Shop Now <i class="fa-solid fa-chevron-right"></i></a>
		</div>
		<div class="landingImg">
			<img src="../../assets/images/2.svg">
		</div>
	</div>
</section>

<section id="popularProducts">
	<div class="popularProducts">
		<div class="heading">
			<h1>Popular Products</h1>
			<hr>
		</div>
		<div class="productContainer">
			<div class="product" *ngFor="let product of popularProducts">
				<div class="productImage">
					<a routerLink="/details/{{product.id}}">
						<img src="{{product.image}}" alt="">
					</a>
				</div>
				<div class="productInfo">
					<a routerLink="details/{{product.id}}">
						<p class="productName">{{product.name}}</p>
					</a>
					<p class="productCategory">{{product.category}}</p>
				</div>
				<div class="productButtons">
					<a routerLink="details/{{product.id}}">
						<button><i class="fa-regular fa-eye"></i></button>
					</a>
					<button><i class="fa-solid fa-basket-shopping"></i></button>
					<button><i class="fa-regular fa-heart"></i></button>
				</div>
			</div>
		</div>
	</div>
</section>
