#landing{
    height: 100vh;
    padding: 0;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    display: flex;
    align-items: end;
    justify-content: center;
}
.landing{
    height: 100%;
    width: 1200px;
    display: flex;
    gap: 50px;
}
.landingText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.siteTitle h1{
    font-size: 140px;
    line-height: 1;
    color: var(--clr-primary);
    text-shadow: 10px 10px 20px white;
}
.siteTitle p{
    font-size: 17px;
    letter-spacing: 10px;
    word-spacing: 10px;
    color: var(--clr-secondary);
    font-weight: 500;
    text-shadow: 0px 0px 15px #ff0ba2;
}
.desc1{

}
.desc2{

}
.landingImg{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.landingImg img{
    height: 80%;
    margin-right: -80px;
}

/* popular products */
.popularProducts{
    width: 1200px;
    margin: auto;
    padding: 20px 0 30px 0;
}
